@charset "iso-8859-1";


/*	<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<


	T O U S   T Y P E S   D E   M É D I A S


	>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
*/

@media all {

	/* Le titre de la table des matières			*/

#tdm-titre
	{
	
	}

	/* Le corps de la table des matières (sans le titre)	*/

#tdm-corps
	{
	font-size:					0.8em;
	}

	/* Une entrée de la table des matières			*/

.tdm-item
	{
	
	}

	/* Le numéro (puce) d'une entrée			*/

.tdm-item-no
	{
	
	}

	/* Le texte d'une entrée (sans la puce)			*/

.tdm-item-texte
	{
	
	}

	/* Les niveaux d'entrées				*/

.tdm-niveau-1
	{
	font-weight:					bold;
	}

.tdm-niveau-2
	{
	margin-left:					1em;
	}

.tdm-niveau-3
	{
	margin-left:					2em;
	}

.tdm-niveau-4
	{
	margin-left:					3em;
	}

.tdm-niveau-5
	{
	margin-left:					4em;
	}

.tdm-niveau-6
	{
	margin-left:					5em;
	}

	/* Lien de retour vers la table des matières		*/

.tdm-retour
	{
	font-size:					0.8em;
	float:						right;
	}

	/* Le numéro (puce) d'un titre dans la page		*/

.section-no
	{
/*	display:					none; */
	}

}

/* 	==========================================================================

	Exemple de table des matières générée


<div id="tdm">
    <h2 id="tdm-titre">Table des matières</h2>
    <div id="tdm-corps">
        <div class="tdm-item tdm-niveau-1">
            <span class="tdm-item-no">1.</span> <span class="tdm-item-texte"><a href="#SECT1.">Résumé</a></span>
        </div>
        <div class="tdm-item tdm-niveau-1">
            <span class="tdm-item-no">2.</span> <span class="tdm-item-texte"><a href="#SECT2.">Introduction</a></span>
        </div>
        <div class="tdm-item tdm-niveau-1">
            <span class="tdm-item-no">1.</span> <span class="tdm-item-texte"><a href="#SECT1.">Organisation...</a></span>
        </div>
        <div class="tdm-item tdm-niveau-2">
            <span class="tdm-item-no">1.1.</span> <span class="tdm-item-texte"><a href="#SECT1.1.">Autre section...</a></span>
        </div>
        <div class="tdm-item tdm-niveau-2">
            <span class="tdm-item-no">1.2.</span> <span class="tdm-item-texte"><a href="#SECT1.2.">Autre section...</a></span>
        </div>
        <div class="tdm-item tdm-niveau-2">
            <span class="tdm-item-no">1.3.</span> <span class="tdm-item-texte"><a href="#SECT1.3."> Autre section...</a></span>
        </div>
        <div class="tdm-item tdm-niveau-3">
            <span class="tdm-item-no">1.3.1.</span> <span class="tdm-item-texte"><a href="#SECT1.3.1."> Autre section...</a></span>
        </div>
    </div>
</div>

	Exemple d'un titre dans la page

<h2 id="SECT2."><span class="section-no">2. </span>Introduction</h2>


	==========================================================================
*/